{% extends "base.html" %}
{% block title %} {{ author.get_full_name }} {% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            {% include 'profile_container.html' %}
        </div>
        <div class="col-md-9">
            {% load thumbnail %}
            {% for post in page %}
                <!-- Начало блока с отдельным постом -->
                {% include "post_item.html" with post=post %}
                <!-- Конец блока с отдельным постом -->
            {% endfor %}
            <!-- Здесь постраничная навигация паджинатора -->
            {% if page.has_other_pages %}
                {% include "paginator.html" with items=page paginator=paginator %}
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}